<!-- This page is extends from main.html -->
{% extends 'main.html' %}
{% load static %}

<!-- Page headers -->
{% block head %}
{% endblock %}
<!-- // -->


<!-- Page Content -->
{% block content %}
<div class="container px-5">
    <div class="text-danger">
        <h3>
            IMPORTANT NOTICE :- हम किसी भी तरह की प्रिंट पोर्टल या मैनुअल डाटा बनाने की सुविधा नहीं देते हैं हम केवल
            सर्वर से डाटा अप्रूव्ड का कार्य करते हैं कृपया किसी भी पीडीएफ के साथ छेड़छाड़ ना करे अगर एडिट करके आगे आप
            देते हैं तो आप स्वयं जिम्मेदार होंगे

            धन्यवाद
        </h3>
    </div>
</div>
{% endblock %}
<!-- // -->