<!-- This page is extends from main.html -->
{% extends 'main.html' %}
{% load static %}

<!-- Page headers -->
{% block head %}
{% endblock %}
<!-- // -->


<!-- Page Content -->
{% block content %}
<center>
    {% if ac.balance == 0 %}
    {% include 'components/balance_err.html' %}
    {% endif %}
    <h1>User Profile</h1>
    <div class="w-75">
        <div class="row m-3 border-bottom">
            <div class="col-6"><b>Account ID</b></div>
            <div class="col-6">{{ ac.id }}</div>
        </div>
        <div class="row m-3 border-bottom">
            <div class="col-6"><b>Name</b></div>
            <div class="col-6">{{ ac.user.first_name }} {{ ac.user.last_name }}</div>
        </div>
        <div class="row m-3 border-bottom">
            <div class="col-6"><b>Contact No.</b></div>
            <div class="col-6">{{ ac.contact_no }}</div>
        </div>
    </div>

    <a href="/auth/logout/">
        <button class="btn mt-2 btn-warning _logout_btn">Logout</button>
    </a>
</center>
{% endblock %}
<!-- // -->