<!-- This page is extends from main.html -->
{% extends 'main.html' %}
{% load static %}

<!-- Page headers -->
{% block head %}
{% endblock %}
<!-- // -->


<!-- Page Content -->
{% block content %}
<div class="container">
    <h1>User Profile</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Account ID</th>
                <td>{{ ac.ac_id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ ac.user.first_name }} {{ ac.user.last_name }}</td>
            </tr>
            <tr>
                <th>Contact No.</th>
                <td>{{ ac.contact_no }}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ ac.balance }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
<!-- // -->