<!-- This page is extends from main.html -->
{% extends 'service_form_base.html' %}
{% load static %}

<!-- Page Content -->
{% block form %}
<div class="card mb-4">
    <div class="card-header py-3 bg_theme">
        <h6 class="m-0 font-weight-bold text-white text-center">Voter PDF Download</h6>
    </div><br>
    <b>
        <font class="m-0 font-weight-bold text-center color_theme">
            <p>अब वोटर कार्ड की पीडीएफ निकलवाये ओरिजनल फोटो के साथ हैण्ड टू हैण्ड सिर्फ वोटर कार्ड से</p>
        </font>
    </b>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <div class="charge">
                <label>Charges</label>
                <input class="form-control" type="text" value="Processing Fee ₹{{service.charge}}" readonly disabled>
            </div>
            <div class="mt-2 text-end">
                <button class="btn bg_theme text-light " type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row text-center">
    <div class="col-md">
        <b>Select Voter type 1</b>
        <br>
        <img height="140px" width="140px"
            src="https://5.imimg.com/data5/ANDROID/Default/2022/8/MP/GM/TN/15964883/product-jpeg.jpg" alt="">
    </div>
    <div class="col-md">
        <b>Select Voter type 2</b>
        <br>
        <img height="140px" width="140px"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN_CW36gUsWHLXxU620OSOvTzMGPYgQ0IyOc2M-_h2nhEVT0h-ch-34N6Kh-ZkgSdkJzk&usqp=CAU"
            alt="">
    </div>
    <!-- <div class="col-md">
        <b>Select Voter type 3</b>
        <br>
        <img height="140px" width="140px" src="https://images.newindianexpress.com/uploads/user/ckeditor_images/article/2019/4/18/WhatsApp_Image_2019-04-18_at_10.58_.15_AM_.jpeg" alt="">
    </div> -->
    <div class="col-md">
        <b>Select Voter type 4</b>
        <br>
        <img height="140px" width="140px" src="https://pbs.twimg.com/media/EA9ppWRU0AA3ugF.jpg" alt="">
    </div>
</div>
{% endblock %}
<!-- // -->