<!-- This page is extends from main.html -->
{% extends 'record_base.html' %}
{% load static %}

<!-- Page Content -->
{% block table %}
<div class="container-fluid record_table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">EPIC No.</th>
                <th scope="col">Voter Generation</th>
                <th scope="col">PDF</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <th scope="row">{{record.id}}</th>
                <td>{{record.epic_no}}</td>
                <td>{{record.voter_type}}</td>
                <td>{% if record.file%}
                    <a target="_blank" href="/media/{{record.file}}">download</a>
                    {%endif%}</td>
                <td>{{record.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
<!-- // -->