<!-- This page is extends from main.html -->
{% extends 'admin/main.html' %}
{% load static %}

<!-- Page Content -->
{% block content %}
<div class="container row">
    <a href={% url 'dashboard_admin' %} class="card m-4 col-md-2 py-4 text-dark">
        <center>
            <i class="fa-solid fa-chart-line" style="font-size: 30px;"></i>
            <br>
            <b>
                Dashboard
            </b>
        </center>
    </a>
    <a href={% url 'services_admin' %} class="card m-4 col-md-2 py-4 text-dark">
        <center>
            <i class="fa-brands fa-servicestack" style="font-size: 30px;"></i>
            <br>
            <b>
                Services
            </b>
        </center>
    </a>
    <a href={% url 'add_money_admin' %} class="card m-4 col-md-2 py-4 text-dark">
        <center>
            <i class="fa-solid fa-plus" style="font-size: 30px;"></i>
            <br>
            <b>
                Add money
            </b>
        </center>
    </a>
</div>
{% endblock %}
<!-- // -->