<div class="container mt-3">
    {{ values|json_script:"values" }}
    <div class="row">
        <div class="col-md">
            <h5>Money added</h5>
            <canvas class="mx-auto" id="money_added_chart" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="col-md">
            <h5>Transactions</h5>
            <canvas class="mx-auto" id="trasactions_chart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
    <script>
        const values = JSON.parse(document.getElementById('values').textContent);
        console.log(values);
        new Chart("money_added_chart", {
            type: "line",
            data: {
                labels: values.dates,
                datasets: [{
                    fill: false,
                    backgroundColor: "green",
                    borderColor: "lightgreen",
                    data: values.money_added
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: Math.max(...values.money_added) + 20
                        }
                    }],
                }
            }
        });
        new Chart("trasactions_chart", {
            type: "line",
            data: {
                labels: values.dates,
                datasets: [{
                    fill: false,
                    backgroundColor: "red",
                    borderColor: "pink",
                    data: values.transactions
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }],
                }
            }
        });
    </script>
</div>