{% load static %}
<header>
    <nav class="navbar navbar-light navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home_admin' %}>
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                Admin
            </a>
            <div>
                <a href={% url 'home' %}>
                    <button class="btn btn-primary">
                        View Site
                    </button>
                </a>
                <a href={% url 'admin:index' %}>
                    <button class="btn btn-danger">
                        Admin
                    </button>
                </a>
            </div>
        </div>
    </nav>
</header>