{% load static %}
<header>
    <nav class="navbar navbar-light navbar-expand-lg border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home_admin' %}>
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                Admin
            </a>
            <div>
                <a class="btn btn-primary" href={% url 'home_admin' %}>
                    Home
                </a>
                <a class="btn btn-warning" href={% url 'home' %}>
                    View Site
                </a>
                <a class="btn btn-danger" href={% url 'admin:index' %}>
                    Admin
                </a>
            </div>
        </div>
    </nav>
</header>