<div class="container mt-2">
    <h4>Services</h4>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <a href={% url 'old_voter_gen' %}>
                    <div class="card-body text-center">
                        <h5>Old Voter Generator</h5>
                    </div>
                </a>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <a href={% url 'voter_gen' %}>
                    <div class="card-body text-center">
                        <h5>Latest Voter Generator</h5>
                    </div>
                </a>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <a href={% url 'aadhar_to_pan' %}>
                    <div class="card-body text-center">
                        <h5>Aadhar to PAN</h5>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>