<!-- This page is extends from main.html -->
{% extends 'admin/main.html' %}
{% load static %}

<!-- Page Content -->
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-md-6">
            {{field.label}}
            {{field}}
        </div>
        {% endfor %}
        <br>
        <br>
        <br>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>
{% endblock %}
<!-- // -->