<!-- This page is extends from main.html -->
{% extends 'admin/main.html' %}
{% load static %}

<!-- Page Content -->
{% block content %}
<div class="card w-50 ms-auto me-auto mt-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-center">Aadhar to Pan</h6>
    </div><br>
    {{request.result}}
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form}}
            <div class="mt-2 text-end">
                <button type="button" onclick="history.back()" class="btn btn-warning">Go back</button>
                <button class="btn btn-danger text-light " type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<!-- // -->