{% extends 'admin/main.html' %}
{% load static %}

{% block content %}
<div class="chart_view p-2">
    <div class="container">
        <a class="btn btn-warning" href={% url 'home_admin' %}>
            Home
        </a>

        {% include 'admin/components/chart.html' %}

        <hr>
        <div class="row">
            <div class="col-md-3 border p-2 text-center rounded">
                <h4>Current Total Balance: ₹{{ total_balance }}</h4>
            </div>
        </div>

    </div>
</div>
{% endblock %}
