<div id="mySidenav" class="sidenav">
    <div class="items">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            PAN
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_nsdl_pan' %}>NSDL FIND PAN</a></li>
            <li><a class="dropdown-item" href={% url 'pdf_pan' %}>PAN PDF</a></li>
            <li><a class="dropdown-item" href={% url 'nsdl_pan_records' %}>NSDL FIND PAN LIST</a></li>
            <li><a class="dropdown-item" href={% url 'pan_pdf_records' %}>PAN PDF LIST</a></li>
        </ul>
    </div>

    <div class="items">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            DL
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_dl' %}>FIND DL</a></li>
            <li><a class="dropdown-item" href={% url 'pdf_dl' %}>DL PDF</a></li>
            <li><a class="dropdown-item" href={% url 'dl_records' %}>FIND DL LIST</a></li>
            <li><a class="dropdown-item" href={% url 'dl_pdf_records' %}>DL PDF LIST</a></li>
        </ul>
    </div>

    <div class="items">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            VOTER
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'pdf_voter' %}>VOTER PDF</a></li>
            <li><a class="dropdown-item" href={% url 'voter_pdf_records' %}>VOTER PDF LIST</a></li>
        </ul>
    </div>

    <div class="items">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            AADHAR
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_aadhar' %}>FIND AADHAR</a></li>
            <li><a class="dropdown-item" href={% url 'pdf_aadhar' %}>AADHAR PDF</a></li>
            <li><a class="dropdown-item" href={% url 'aadhar_records' %}>FIND AADHAR LIST</a></li>
            <li><a class="dropdown-item" href={% url 'aadhar_pdf_records' %}>AADHAR PDF LIST</a></li>
        </ul>
    </div>

   
    <a href={% url 'profile' %}>
        <button class="btn btn-danger _profile_btn">Profile</button>
    </a>
    <a href={% url 'wallet' %}>
        <button class="btn btn-primary _wallet_btn">Wallet</button>
    </a>
    <a href="/auth/logout/">
        <button class="btn btn-warning _logout_btn">Logout</button>
    </a>
</div>