<div id="mySidenav" class="sidenav">
    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            PAN Find
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_nsdl_pan' %}>PAN FIND</a></li>
            <li><a class="dropdown-item" href={% url 'nsdl_pan_records' %}>PAN FIND LIST</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            PAN PDF
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'pdf_pan' %}>PAN PDF</a></li>
            <li><a class="dropdown-item" href={% url 'pan_pdf_records' %}>PAN PDF List</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            FIND DL
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_dl' %}>FIND DL</a></li>
            <li><a class="dropdown-item" href={% url 'dl_records' %}>Find DL List</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            DL PDF
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'pdf_dl' %}>DL PDF</a></li>
            <li><a class="dropdown-item" href={% url 'dl_pdf_records' %}>DL PDF List</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            VOTER PDF
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'pdf_voter' %}>VOTER PDF</a></li>
            <li><a class="dropdown-item" href={% url 'voter_pdf_records' %}>Voter PDF List</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            AADHAR NO
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'find_aadhar' %}>EID to Find Aadhar</a></li>
            <li><a class="dropdown-item" href={% url 'aadhar_records' %}>Find Aadhar List</a></li>
        </ul>
    </div>

    <div class="items mt-1">
        <button class="btn text-light form-control" data-bs-toggle="dropdown" aria-expanded="false">
            AADHAR PDF
        </button>
        <ul class="dropdown-menu dropdown-menu-light form-control">
            <li><a class="dropdown-item" href={% url 'pdf_aadhar' %}>EID to Aadhar PDF</a></li>
            <li><a class="dropdown-item" href={% url 'aadhar_pdf_records' %}>Aadhar PDF List</a></li>
        </ul>
    </div>



    <a href={% url 'profile' %}>
        <button class="btn btn-danger _profile_btn">Profile</button>
    </a>
    <a href={% url 'wallet' %}>
        <button class="btn btn-primary _wallet_btn">Wallet</button>
    </a>
    <a href="/auth/logout/">
        <button class="btn btn-warning _logout_btn">Logout</button>
    </a>
</div>