<!-- This page is extends from main.html -->
{% extends 'record_base.html' %}
{% load static %}

<!-- Page Content -->
{% block table %}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name as Pan</th>
                <th scope="col">Aadhar no.</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Pan no.</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <th scope="row">{{record.id}}</th>
                <td>{{record.name_as_pan}}</td>
                <td>{{record.aadhar_no}}</td>
                <td>{{record.date_of_birth}}</td>
                <td>{{record.pan_no}}</td>
                <td>{{record.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
<!-- // -->